---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css'; // <--- ВАЖНО

interface Props {
	title: string;
}
const { title } = Astro.props;
---
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <ViewTransitions />
	</head>
	<body class="bg-stone-50 text-stone-900 font-sans">
		<slot />
	</body>
</html>
